<!-- <div ng-controller="MoviesController">
  <div ng-show="results">
    <div class="movie-query-div" ng-repeat="result in results" ng-click="queryMovieInfo(result.imdbID)">
      <a ng-href="/#/{{result.imdbID}}">
        <p>
            <span>
              {{result.Title}}
            </span>
            <br>
            <span>
              Year: {{result.Year}}
            </span>
        </p>
      </a>
      <p>
        {{result}}
      </p>
    </div>
  </div>
</div> -->
<!-- <div ng-controller="MoviesController">
  <p>
    hay
  </p>
  <div ng-repeat="result in results">
    <p>
      {{result.Title}}
    </p>
  </div>
</div> -->
<p>
  Hello, moviesQuery partial
</p>
